*,
*::before
*::after{
box-sizing: border-box;
}

:root{
    --font-principal: "Lato", sans-serif;
    --font-secundària: "Raleway", sans-serif;

    --pes-font: 300;
    --pes-negreta: 900; 

    --colorClar: #00dffd; 
    --colorFosc: #58d68d;
    --colorResaltar: #f4d03f;
    --colorLletres: #000000;

    --tamany-h1: 3rem;
    --tamany-h2: 2.25rem;
    --tamany-h3: 1.25rem;
    --tamany-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --tamany-h1: 4.5rem;
        --tamany-h2: 2.75rem;
        --tamany-h3: 1.5rem;
        --tamany-body: 1.125rem;
        --sombra: 0.30em 0.30em 0.30em rgba(0,0,0,5);
    }
}

nav{
    display: none;
}
strong{
    font-weight: var(--pes-negreta);
}

body {
    background: var(--colorClar);
    color: var(--colorLletres);
    margin: 0;
    font-family: var(--font-principal);
    font-size: var(--tamany-body);
    line-height: var(1.6);
}

section {
    padding: 2em 2em;
}
img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--tamany-h1);
}

h2 {
    font-size: var(--tamany-h2);
}

h3 {
    font-size: var(--tamany-h3);
}

.titol {
    margin-bottom: .25em;
}
.titol-intro {
    font-weight: var(--pes-font);
}

.subtitol {
    margin: 0;
    font-size: var(--tamany-h3);
}

.subtitol {
    background: var(--colorResaltar);
    font-family: var(--color --font-secundària);
    margin-bottom: 1em;
}

.titol-intro strong {
    display: block;
}

.intro {
    position: relative;
}

@media ( min-width: 600px) {
    .intro{
        display: grid;
        margin: 0 auto;
        width: min-content;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img titol"
        "img subtitol";
        grid-template-columns: min-content max-content;
    }
}

.intro-img {
    grid-area: img;
    min-width: 200px;
    position: relative;
    z-index: 2;
}   

.subtitol {
    align-self: start;
    grid-column: -1/ 1.5;
    grid-row: 2;
    text-align: right;
    position: relative;
    width: calc(100%+1.5em);
}

.intro-img {
    box-shadow: var(--sombra);
}

.subtitol {
    display: inline-block;
}

.meusServeis {
    background-color: var(--color);
    color: var(--colorClar);
    text-align: center;
    background-image: url(../img/https___hypebeast.com_image_2020_01_2015-lamborghini-veneno-roadster-rm-sothebys-auction-info-01.webp);
    background-size: cover;
    background-blend-mode: multiply;
}

.titol-serveis {
    color: var(--colorResaltar);
    position: relative;
}

@media (min-width: 800px) {
    .serveis{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    .servei + .servei {
        margin: 2em;
    }
    
    .servei{
        max-width: 500px;
        margin: 0 auto;
    }
}
